.wrapper-news {
    max-width: 1630px;
    margin: 0 auto;
}

.news {
    background-image: url('../img/news/news-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
        padding: 40px 15px 60px;
    }

    &-title {
        @extend .project-title;
        text-align: center;
        display: block;
        font-size: 30px;
        color: $white;
        margin-bottom: 50px;

        &::before {
            content: '';
            display: block;
            @include wh(100px,  1px);
            background-color: $white;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    &-slider {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 320px;
        left: calc(50% - 160px);

        .slick-slide {
            display: flex;
        }


        &__item {
            display: flex;
            max-width: 250px;
            min-height: 514px;
            flex-direction: column;
            background-color: $white;
            margin: 0 40px;
            transition: all .9s ease;

            &:hover {
                transform: scale(0.85);
            }
           

            .item-img {
                width: 100%;
            }

            .item-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 360px;
                padding: 15px 10px;

                .news-info {

                    & h3 {
                        font-family: 'Montserrat', 'Arial', sans-serif;
                        font-style: normal;
                        @include font(700, 22px, 27px);
                        color: $darkBlue;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }

                    & p {
                        @extend .project-info-text;
                    }
                }

                .news-comentar {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &__img {
                       @include wh(60px,  60px);
                        border-radius: 50%;
                        margin-right: 20px;
                    }

                    &__text {
                        font-family: 'Montserrat', 'Arial', sans-serif;
                        font-style: normal;
                        font-weight: 400;

                        h4 {
                            font-size: 18px;
                            color: $darkBlue;
                            text-transform: uppercase;
                            margin-bottom: 15px;
                        }

                        span {
                            font-size: 14px;
                            color: $blueWhite;
                        }
                    }
                }
            }
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            z-index: 10;
            bottom: -30px;

            & li {
                display: block;
                border: 1px solid $white;
                border-radius: 50%;
                margin: 0;
                @include wh(10px,  10px);

                &:not(:last-child) {
                    margin-right: 30px;
                }

                & button:before {
                    content: '';
                    @include wh(100%,  100%);
                    border-radius: 50%;
                    opacity: 1;
                }

                &.slick-active button:before {
                    background-color: $white;
                    opacity: 1;
                }
            }
        }
    }

    @include md1 {
        .container {
            padding: 70px 15px 90px;
        }

        &-title {
            font-size: 44px;
        }

        &-slider {
            width: 840px;
            left: calc(50% - 420px);

            .arrow-left {
                cursor: pointer;
                margin-right: 10px;
            }

            .arrow-right {
                cursor: pointer;
                margin-left: 10px;
            }

            &__item {
                max-width: 370px;
                margin: 0 15px;

                .item-text {
                    padding: 30px 20px;
                    min-height: 295px;

                    .news-info {
                        & h3 {
                            font-size: 22px;
                            line-height: 27px;
                        }
                    }
                }
            }

            .slick-dots {
                bottom: -50px;

                & li {

                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                }
            }
        }
    }

    @include xl1 {
        .container {
            padding: 110px 15px 170px;
        }

        &-title {
            margin-bottom: 90px;
        }

        &-slider {
            width: 1370px;
            left: calc(50% - 685px);

            .arrow-left {
                margin-right: 45px;

            }

            .arrow-right {
                margin-left: 45px;
            }
        }
    }

    
}