.input-group-icon {
    position: relative
}
.input-icon {
    position: absolute;
    font-size: 18px;
    color: #999;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer
}
.font-robo {
    font-family: roboto,arial,helvetica neue,sans-serif
}

.font-poppins {
    font-family: poppins,arial,helvetica neue,sans-serif
}