.div-blog {
    padding: 17px 25px 25px 25px;
    max-width: 810px;
    width: 50%;
    background-color: #D9D9D9;
    .title-general {
        padding-bottom: 15px;
    }
}

.blog1-wrqpper {
    display: flex;
    flex-direction: column;
    gap: 27px; 
}