.div-news {
    background-color: #D9D9D9;
    padding: 17px 25px 29px 25px;
    width: 50%;
    max-width: 300px;
    .title-general {
        padding-bottom: 15px;
    }
}
.news1-wrqpper {
    display: flex;
    flex-direction: column;
    gap: 9px;
}