.wrapper-books-six {
    width: 100%;
    max-height: 684px;
    height: 100vh;
    padding: 0 0px;
    margin: 0 auto;
    background-image: url(../assets/img/S6_BookNow.png);
    background-position: center;
    background-size: cover;
    @include xxl {
        max-height: 712px;
    }
    @include md {
        max-height: 588px;
    }
    @include sm {
        max-height: 616px;
    }

}
.books-six {
    max-width: 1320px;
    height: 684px;
   
    width: 100%;
    height: 100%;
    padding-top: 220px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end;
 margin-top: 0px;
    @include xxl {
        padding: 0px 110px;
        height: 712px;
        padding-top: 220px;

    }

    @include xl {
        padding: 0px 32px;
        padding-top: 220px;
    }

    @include md {
        padding: 0px 24px;
        height: 588px;
        padding-top: 120px;
    }

    @include sm {
        height: 616px;
        padding: 0px 18px;
        padding-top: 120px;
    }
    &__container {
        background-color: rgba(35, 35, 35, 0.9);
        background-position: center;
        background-size: cover;
        max-width: 648px;
        width: 100%;
        height: 344px;
        display: flex;
       
        @include xxl {
            max-width: 558px;
            height: 372px;
        }

        @include xl {
            max-width: 550px;

        }

        @include md {
            max-width: 720px;
            height: 348px;
        }
        &__content {
            text-align: left;
            padding-left: 32px;
            .heading6 {
                @include heading6;
                padding-top: 44px;
                margin-bottom: 16px;
                margin-top: 0px
            }
            .heading5 {
                @include heading5;
                margin-top: 0px;
                margin-bottom: 16px;
            }

            .body2 {
                @include body2;
                max-width: 648px;
                letter-spacing: 2px;
                margin-top: 0px;
                margin-bottom: 0px;

            }
            .books-six-btn {
                @include why-btn;
                display: inline-block;
                margin-top: 24px;
            }
        }
    }
}