.wrapper-nav {
    width: 100%;
    max-height: 84px;
    margin: 0 auto;
    background-color: $color-accent;

    @include md {
        max-height: 136px;
    }

    @include sm {
        height: 84px;
    }
}

.navigation {
    text-align: center;
    height: 84px;
   max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 0 auto;

    @include xxl {
        width: 100%;
        padding: 32px 110px;
    }

    @include xl {
        width: 100%;
        padding: 32px 32px;
    }

    @include md {
        flex-direction: column;
        height: 136px;
        margin: 0 auto;
        display: flex;
    }

    @include sm {
        height: 84px;
        flex-direction: row;
        padding: 0px;
    }

    &__h3 {
        @include blockFonts(24px, $color-white, $font-family-bolt);
        line-height: 28px;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @include md {
            margin-top: 0px;
        }

        @include sm {
            margin-bottom: 0px;
            padding: 30px 18px 30px 204px;
        }
    }

    .navbar {
        display: flex;
        gap: 40px;

        @include sm {
            position: absolute;
            top: 100%;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            margin-top: 0px;
            align-items: center;
            left: 0px;
            background-color: $color-accent;
            padding-top: 32px;
            padding-bottom: 32px;
            display: none;

            &.active {
                display: flex;
            }
        }

        &__link {
            @include blockFonts(14px, $color-white, $font-family-aleo);
            line-height: 20px;
            font-weight: 400;
            letter-spacing: 0.1em;
            text-decoration: none;

            &:hover {
                color: $color-red;
            }
        }
    }
}

.header-hamburger-bar {
    display: block;
    width: 40px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $color-white;
}

.hamburger {
    display: none;
    cursor: pointer;

    @include sm {
        display: block;
    }
}

.hamburger.active .header-hamburger-bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .header-hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .header-hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}