.wrapper-steps {
    max-width: 1920px;
    width: 100%;
    max-height: 306px;
    height: 100vh;
    padding: 0 0px;
    margin: 0 auto;
    @include md {
        max-height: 658px;
    }
}
.steps {
background-color: $color-dark-grey;
width: 100%;
height: 100%;
position: relative;

     
&__container {
    display: flex;
    width: 100%;
    height: 100%;
padding: 0px 300px;
    margin-right: 0px;
    
    justify-content:space-between;
    padding-top: 107px;
    @include xxl {
        padding: 0px 110px;
        padding-top: 122px;
    }
    @include xl {
        padding: 0px 32px;
        padding-top: 138px;
    }
    @include md {
        flex-direction: column;
        padding: 0px 24px;
        padding-top: 60px;
        align-items: center;
    }

    
    

   
    &__icon-search {
        max-width: 424px;
        text-align: center;
        display: inline-block;
        padding-left: 165px;
        @include xxl {
            padding-left: 154px;
        }
        @include xl {
            padding-left: 104px;
        }
        @include md {
            padding-left: 0px;
        }
     
         
        .fa-magnifying-glass {
            margin-top: 16px;
            font-size: 64px;
            color: $color-ccent-darker;
        }
        .heading2 {
            @include heading2;
            margin-top: 20px; 
            max-width: 424px;
        }
    }
  
        &__icon-circle {
            max-width: 424px;
            text-align: center;
            display: inline-block;
            .fa-circle-check {
                margin-top: 16px;
                font-size: 64px;
                color: $color-red;
            }
            .heading2 {
                @include heading2;
                margin-top: 20px; 
                max-width: 424px;
            }
        }
        &__icon-up {
            max-width: 424px;
            text-align: center;
            display: inline-block;
            padding-right: 165px;
            @include xxl {
                padding-right: 154px;
            }
            @include xl {
                padding-right: 104px;
            }
            @include md {
                padding-right: 0px;
                padding-bottom: 30px;
            }
            .fa-thumbs-up {
                margin-top: 16px;
                font-size: 64px;
                color: $color-blue;
               
            }
            .heading2 {
                @include heading2;
                margin-top: 20px; 
                max-width: 424px;
            }
        }
    
}

}

