$color-accent: #5373FD;
$color-ccent-darker:#486BFE;
$color-dark-grey: #333333;
$color-text-grey: #999999;
$color-black: #0000;
$color-white: #FFFFFF;
$color-red: #FF6363;
$color-blue: #00A2FF;
$icon-back: #e5e5e5;
$font-family-bolt: 'JosefinSans-Bolt', sans-serif;
$font-family-regular: 'JosefinSans-Regular', sans-serif;
$font-family-light: 'JosefinSans-Light', sans-serif;
$font-family-aleo: 'Aleo-Regular', sans-serif;



$font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
