.wrapper-why {
    max-width: 1920px;
    width: 100%;
    max-height: 704px;
    height: 100vh;
    padding: 0 0px;
    margin: 0 auto;
}

.why {
    background-image: url(../assets/img/WhyBackground.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 704px;

    &__container {
        width: 100%;
        margin-right: 0px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        margin-left: 0px;
        margin-right: 0px;

        @include xxl {

            padding: 0px 110px;
            justify-content: space-between;

        }

        @include xl {
            padding: 0px 32px;
            justify-content: space-between;
        }

        @include md {
            padding: 0px 24px;
            flex-direction: column-reverse;
            justify-content: space-between;

            .why__container>div {
                order: 2;
            }

            .why__container>div:nth-of-type(1) {
                order: 2;

            }

            .why__container>div:nth-of-type(2) {
                order: 1;

            }

        }

        &__content {
            padding: 190px 136px 190px 0px;

            @include xxl {
                padding: 190px 0px;
            }

            @include md {
                padding: 0px;
                max-width: 720px;
                width: 100%;
                text-align: center;
            }

            .heading2 {
                @include heading2;
                margin-top: 0px;
                margin-bottom: 24px;

            }

            .body2 {
                @include body2;
                max-width: 648px;
                letter-spacing: 2px;
                margin-top: 0px;
                margin-bottom: 0px;

                @include xxl {
                    width: 558px;
                }

                @include xl {
                    width: 550px;
                }

                @include md {
                    max-width: 720px;
                    width: 100%
                }
            }

            .why-btn {
                @include why-btn;
                display: inline-block;
                margin-top: 32px;

                @include md {
                    margin-bottom: 60px;
                }
            }
        }

        &__img {
            display: flex;
            max-width: 424px;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            padding: 124px 0px;
            flex-direction: column;

            @include xxl {
                max-width: 461px;
                min-height: 456px;
            }

            @include md {
                flex-direction: row;
                max-width: 720px;
                min-height: 219px;
                width: 100%;
                padding: 60px 0px 32px 0px;
                justify-content: space-between;
            }

            &>*:first-child {

                align-self: flex-start;

                @include xl {
                    max-width: 350px;
                    width: 100%;
                    min-height: 220px;
                }

                @include md {

                    max-width: 348px;
                    min-height: 219px;
                }

                @include sm {

                    max-width: 258px;
                    min-height: 152px;
                }
            }

            &>*:last-child {
                align-self: flex-end;

                @include xl {
                    max-width: 350px;
                    width: 100%;
                    min-height: 220px;
                }

                @include md {
                    max-width: 348px;
                    min-height: 219px;
                }

                @include sm {
                    max-width: 258px;
                    min-height: 152px;
                }
            }
        }
    }
}